<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Right now records were added into our application.<br>
    </p>
    <p>
      The number of records is: <%= @number_of_records %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>